:root {
  --primary-colour: #1a1a1b;
  --secondary-colour: #f7c873;
  --tertiary-colour: #f9e2b6;
  --quaternary-colour: #f8f8f8;
}

body {
  background-color: var(--primary-colour);
}

h1 {
  font-family: "Sofia Sans", sans-serif;
  font-weight: 600;
  font-size: 96px;
  color: var(--quaternary-colour);
}

h2 {
  font-family: "Sofia Sans", sans-serif;
  font-weight: 400;
  font-size: 35px;
  color: var(--secondary-colour);
  font-weight: bold;
  margin-bottom: 35px;
}

.hero {
  text-align: center;
  margin: 60px;
}

.proj-section {
  font-family: "Sofia Sans", sans-serif;
  font-weight: 400;
  font-size: 50px;
  color: white;
  text-align: center;
  margin: 100px 0px 50px;
}

.outline-proj {
  padding: 50px;
  background-color: var(--primary-colour);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border: 3px solid var(--secondary-colour);
  margin-bottom: 20px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.featured-proj {
  color: white;
  font-family: "Courier New", Courier, monospace;
  margin-top: 40px;
}

.title-proj {
  font-size: 35px;
  font-weight: 600;
  color: var(--secondary-colour);
}

.descrip-proj {
  margin: 15px 0px;
  font-size: 20px;
}

.button-branding {
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
  font-size: 20px;
  background: var(--primary-colour);
  color: var(--tertiary-colour);
  border-radius: 5px;
  line-height: 27px;
  padding: 13px 18px;
  border: solid 1px var(--tertiary-colour);
  transition: 0.5s ease-out;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.button-branding:hover {
  color: black;
  background: var(--tertiary-colour);
}

.row2 {
  text-align: right;
  margin-top: 100px;
}

.aboutSection h1 {
  font-size: 64px;
  line-height: 70px;
}

.aboutSection p {
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  color: white;
  line-height: 30px;
}

.profilePicture {
  max-width: 500px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 30px;
  }

  .proj-section {
    font-size: 35px;
  }

  .featured-proj {
    margin-top: 0;
  }

  .outline-proj {
    margin: 0px 0px 30px;
    text-align: center;
    padding: 0px;
  }
  .descrip-proj {
    font-size: 20px;
  }
  .button-branding {
    margin-bottom: 20px;
  }
}
